extends layout_i

block header
    link(rel="stylesheet", href="/css/mobile.css")
    style.
        a, a:hover, a:visited {
            color:#0033ff;
        }


block content
    div.container(style="margin-top:36px;")

        div.row(style="height:330px;background-image:url('assets/img/smt/top_img.png');background-size:contain;background-repeat:no-repeat;background-position:50% 50%;")


        div.row.well-lg
            div.infoarea
                div.col-xs-12
                    h3 第一回<br/>ドキュ・メメント映画祭
                    h4 １１月３日〜４日 @品川宿
                    hr

                div.col.col-xs-3.text-danger
                    p ドキュ・メメントについて
                div.col-xs-9
                    p 2016年、ドキュメンタリーのディレクターや異業種の起業家が集まりました。テレビ・映画・国籍・会社・業種の枠を超えたこの集団に【BUG】という名前をつけ、二つの目標に向けて行動をはじめました。
                    | 一つは、ドキュメンタリーを【カルチャーにし、未来の人に届ける】。もう一つは、作り手自身が夢見る【環境を創っていく】ことです。

                    p 　日本では、一般的に”ドキュメンタリー”は、退屈で、暗く、真面目で、とっつきにくく、一部の人が好きなジャンルとして捉えられている現状があると思います。BUGは作り手として、ドキュメンタリーのポテンシャルを開き、一般の人に見せていきたいと考えています。なぜならドキュメンタリーは、映像と物語を駆使して人間社会のあらゆる問題や感情を描き、見た人の心に【他者への窓】を開けることができると信じるからです。<br/>　人が人を見るための窓が、社会にたくさん開いていた方がいいと考えるからです。
                    | 今年の活動として、品川宿に地域密着型ドキュメンタリーフェスティバルを今年の活動として、品川宿に地域密着型ドキュメンタリーフェスティバルを作ることをはじめています。
                    | 東海道の最初の宿場町であり、ヨソ者を受け入れる風土を持つ品川宿という場所で、ドキュメンタリーを通して普段は接することのないコミュニティに出会えたり、はまったりする【経験】にフォーカスします。
                    p <br/>　単なる上映会でも映画祭でもない【ドキュメンタリーエクスペリエンス】。 作り手が作品の発意を表明すると同時に、すべての人に向けてすべての人に向けて “ドキュメンタリーてなんだ？”という問いを増幅させるクエスチョンベースのイベントを創ります。

                div.col.col-xs-3.text-danger
                    p 開催地
                div.col-xs-9
                    p <strong>北品川一帯</strong> <br/>(KAIDO books & coffee/一龍屋台村/本照寺/うなぎのねどこ/レンタルスペース松本/品川健康センター/クロモンカフェ)

                div.col.col-xs-3.text-danger
                    p 目  的
                div.col-xs-9
                    p <strong>ドキュメンタリー文化の形成/<br/>地域振興</strong>

                div.col.col-xs-3.text-danger
                    p 主  催
                div.col-xs-9
                    p ドキュ・メメント実行委員会

                div.col.col-xs-3.text-danger
                    p 協  賛
                div.col-xs-9
                    p Tokyo Docs/株式会社テムジン
                div.col.col-xs-3.text-danger
                    p 協  力
                div.col-xs-9
                    p 旧東海道品川宿周辺まちづくり協議会 / なぎさの会 / DD Center / SOMEONE'S GARDEN
                div.col.col-xs-3.text-danger
                    p 共  催
                div.col-xs-9
                    p 旧東海道品川宿周辺まちづくり協議会
                div.col.col-xs-3.text-danger
                    p 後  援
                div.col-xs-9
                    p 品川区 / 一般社団法人しながわ観光協会
                div.col.col-xs-3.text-danger
                    p 代表者
                div.col-xs-9
                    p 米本直樹
                    p <a href="mailto:bug.document@gmail.com">mailto:bug.document@gmail.com</a>

                br(clear="all")