extends layout

block header
    link(rel='stylesheet', href='/css/loader.css')
    link(rel='stylesheet', href='/css/billboard.css')
    script.
        var mobile = #{mobile};
    script(src="js/lib/common.js")

block content

    div#loader(style="position: absolute; height: 100%; width: 100%;background-color:green;z-index:0;"): div.spinner(style="margin-top:30%")

    if !mobile
        div.topnav
                img.titleheader(src="assets/img/documemento_header.png")
    div#VRController(ng-controller="VRController", style="position: absolute; height: 100%; width: 100%;")
        a-scene
            a-assets
                //360 Videos
                //video#er_yataimura(src="media/er/shinagawa/yataimura.mp4", muted, autoplay,loop="true")
                //video#er_honshoji(src="media/er/shinagawa/honshoji.mp4", muted, autoplay,loop="true")
                //video#er_matsumoto(src="media/er/shinagawa/matsumoto.mp4", muted, autoplay,loop="true")
                //video#er_tokaido(src="media/er/shinagawa/tokaido1.mp4", muted, autoplay,loop="true")
                //video#er_kaidocafe(src="media/er/shinagawa/kaidocafe.mp4", muted, autoplay,loop="true")

                //3D Models
                a-asset-item#small-mtl(src="assets/models/camerahouse/small.mtl")
                a-asset-item#small-obj(src="assets/models/camerahouse/small.obj")
                a-asset-item#large-obj(src="assets/models/camerahouse/large.obj")
                a-asset-item#earth-mtl(src="assets/models/earth/earth.mtl")
                a-asset-item#earth-obj(src="assets/models/earth/earth.obj")
                //a-asset-item#amagi-mtl(src="assets/models/amagi/amagi.mtl")
                //a-asset-item#amagi-obj(src="assets/models/amagi/amagi.obj")
                a-asset-item#infobox-mtl(src="assets/models/infobox/box.mtl")
                a-asset-item#infobox-obj(src="assets/models/infobox/box.obj")
                a-asset-item#lantan-mtl(src="assets/models/lantan/lantan.mtl")
                a-asset-item#lantan-obj(src="assets/models/lantan/lantan.obj")

                a-asset-item#panelbox-obj(src="assets/models/panelbox/box_.obj")
                a-asset-item#panelbox-mtl(src="assets/models/panelbox/box_.mtl")
                a-asset-item#panelbox-uchiyama-mtl(src="assets/models/panelbox/box_uchiyama.mtl")
                a-asset-item#panelbox-yonemoto-mtl(src="assets/models/panelbox/box_yonemoto.mtl")
                a-asset-item#panelbox-matsui-mtl(src="assets/models/panelbox/box_matsui.mtl")
                a-asset-item#panelbox-takeoka-mtl(src="assets/models/panelbox/box_takeoka.mtl")
                a-asset-item#panelbox-ota-mtl(src="assets/models/panelbox/box_ota.mtl")
                a-asset-item#panelbox-nakamura-mtl(src="assets/models/panelbox/box_nakamura.mtl")
                a-asset-item#panelbox-fujioka-mtl(src="assets/models/panelbox/box_fujioka.mtl")
                a-asset-item#panelbox-okuma-mtl(src="assets/models/panelbox/box_okuma.mtl")
                a-asset-item#panelbox-kan-mtl(src="assets/models/panelbox/box_kan.mtl")
                a-asset-item#panelbox-nobuki-mtl(src="assets/models/panelbox/box_nobuki.mtl")
                a-asset-item#panelbox-sakuragi-mtl(src="assets/models/panelbox/box_sakuragi.mtl")
                a-asset-item#panelbox-kawai-mtl(src="assets/models/panelbox/box_kawai.mtl")
                a-asset-item#panelbox-miyashita-mtl(src="assets/models/panelbox/box_miyashita.mtl")
                a-asset-item#panelbox-adachi-mtl(src="assets/models/panelbox/box_adachi.mtl")
                a-asset-item#panelbox-hidaka-mtl(src="assets/models/panelbox/box_hidaka.mtl")
                a-asset-item#panelbox-someonesgarden-mtl(src="assets/models/panelbox/box_someonesgarden.mtl")
                a-asset-item#panelbox-tokyo-mtl(src="assets/models/panelbox/box_tokyo.mtl")
                a-asset-item#panelbox-saitoh-mtl(src="assets/models/panelbox/box_saitoh.mtl")


                //3D models - numbers
                a-asset-item#black-mtl(src="assets/models/numbers/black.mtl")
                a-asset-item#red-mtl(src="assets/models/numbers/red.mtl")

                a-asset-item#num_-obj(src="assets/models/numbers/slash.obj")
                a-asset-item#num0-obj(src="assets/models/numbers/0.obj")
                a-asset-item#num1-obj(src="assets/models/numbers/1.obj")
                a-asset-item#num2-obj(src="assets/models/numbers/2.obj")
                a-asset-item#num3-obj(src="assets/models/numbers/3.obj")
                a-asset-item#num4-obj(src="assets/models/numbers/4.obj")
                a-asset-item#num5-obj(src="assets/models/numbers/5.obj")
                a-asset-item#num6-obj(src="assets/models/numbers/6.obj")
                a-asset-item#num7-obj(src="assets/models/numbers/7.obj")
                a-asset-item#num8-obj(src="assets/models/numbers/8.obj")
                a-asset-item#num9-obj(src="assets/models/numbers/9.obj")

                //3D models - arrow
                a-asset-item#up-mtl(src="assets/models/arrow/up.mtl")
                a-asset-item#up-obj(src="assets/models/arrow/up.obj")
                a-asset-item#down-mtl(src="assets/models/arrow/down.mtl")
                a-asset-item#down-obj(src="assets/models/arrow/down.obj")

                // About
                img#img_kaijo(src="assets/img/cmenu_venue.png")
                img#img_toudansha(src="assets/img/cmenu_toudansha.png")
                img#img_program(src="assets/img/cmenu_program.png")
                img#img_aboutfes(src="assets/img/cmenu_documemento.png")
                img#img_aboutfes_j(src="assets/img/cmenu_documemento_j.png")

                img#topinfo1(src="assets/img/top_info1024.png")

                //PROGRAMS
                img#img_prog_honshoji0311(src="assets/img/programs/prog_honshoji0311.png")
                img#img_prog_kaido0311(src="assets/img/programs/prog_kaido0311.png")
                img#img_prog_kaido0411(src="assets/img/programs/prog_kaido0411.png")
                img#img_prog_kenkou0411(src="assets/img/programs/prog_kenkou0411.png")
                img#img_prog_kenkou0414(src="assets/img/programs/prog_kenkou0414.png")
                img#img_prog_matsumoto0311(src="assets/img/programs/prog_matsumoto0311.png")
                img#img_prog_matsumoto0411(src="assets/img/programs/prog_matsumoto0411.png")
                img#img_prog_unagi0410(src="assets/img/programs/prog_unagi0410.png")
                img#img_prog_yatai0311(src="assets/img/programs/prog_yatai0317.png")
                img#img_prog_yatai0411(src="assets/img/programs/prog_yatai0417.png")
                img#img_prog_yatai0420(src="assets/img/programs/prog_yatai0320.png")

                //VENUES
                img#img_venue_yataimura(src="assets/img/venues/shinagawa_yataimura.png")
                img#img_venue_honshoji(src="assets/img/venues/shinagawa_honshoji.png")
                img#img_venue_matsumoto(src="assets/img/venues/shinagawa_matsumoto.png")
                img#img_venue_kaidocafe(src="assets/img/venues/shinagawa_kaido.png")
                img#img_venue_kenkou(src="assets/img/venues/shinagawa_kenkou.png")
                img#img_venue_kuromon(src="assets/img/venues/shinagawa_kuromon.png")
                img#img_venue_unagi(src="assets/img/venues/shinagawa_unagi.png")

                img#img_shadow(src="assets/img/radial-shadow-2.png")

                //logos
                img#img_logo_bug(src="assets/img/buglogo.png")
                img#img_logo_tokyodocs(src="assets/img/tokyodocs_logo.jpg")
                img#img_logo_sog(src="assets/img/sog_logo.png")

                //////////  panelers
                //松井
                img#panel_matsui_front(src="assets/img/panelists/p_text_matsui.png")
                img#panel_matsui_back(src="assets/img/panelists/p_matsui.png")
                //米本
                img#panel_yonemoto_front(src="assets/img/panelists/p_text_yonemoto.png")
                img#panel_yonemoto_back(src="assets/img/panelists/p_yonemoto.png")
                //太田
                img#panel_ota_front(src="assets/img/panelists/p_text_ota.png")
                img#panel_ota_back(src="assets/img/panelists/p_ota.png")
                //内山
                img#panel_uchiyama_front(src="assets/img/panelists/p_text_uchiyama.png")
                img#panel_uchiyama_back(src="assets/img/panelists/p_uchiyama.png")
                //藤岡
                img#panel_fujioka_front(src="assets/img/panelists/p_text_fujioka.png")
                img#panel_fujioka_back(src="assets/img/panelists/p_fujioka.png")
                //竹岡
                img#panel_takeoka_front(src="assets/img/panelists/p_text_takeoka.png")
                img#panel_takeoka_back(src="assets/img/panelists/p_takeoka.png")
                //奥間
                img#panel_okuma_front(src="assets/img/panelists/p_text_okuma.png")
                img#panel_okuma_back(src="assets/img/panelists/p_okuma.png")
                //関
                img#panel_kan_front(src="assets/img/panelists/p_text_kan.png")
                img#panel_kan_back(src="assets/img/panelists/p_kan.png")
                //日高
                img#panel_hidaka_front(src="assets/img/panelists/p_text_hidaka.png")
                img#panel_hidaka_back(src="assets/img/panelists/p_hidaka.png")
                //Tokyo
                img#panel_tokyo_front(src="assets/img/panelists/p_text_tokyo.png")
                img#panel_tokyo_back(src="assets/img/panelists/p_tokyo.png")
                //津留崎
                img#panel_someonesgarden_front(src="assets/img/panelists/p_text_someonesgarden.png")
                img#panel_someonesgarden_back(src="assets/img/panelists/p_someonesgarden.png")
                //河合
                img#panel_kawai_front(src="assets/img/panelists/p_text_kawai.png")
                img#panel_kawai_back(src="assets/img/panelists/p_kawai.png")
                //津留崎
                img#panel_nobuki_front(src="assets/img/panelists/p_text_nobuki.png")
                img#panel_nobuki_back(src="assets/img/panelists/p_nobuki.png")
                //斎藤
                img#panel_saitoh_front(src="assets/img/panelists/p_text_saitoh.png")
                img#panel_saitoh_back(src="assets/img/panelists/p_saitoh.png")
                //中村
                img#panel_nakamura_front(src="assets/img/panelists/p_text_nakamura.png")
                img#panel_nakamura_back(src="assets/img/panelists/p_nakamura.png")
                //安達
                img#panel_adachi_front(src="assets/img/panelists/p_text_adachi.png")
                img#panel_adachi_back(src="assets/img/panelists/p_adachi.png")
                //桜木
                img#panel_sakuragi_front(src="assets/img/panelists/p_text_sakuragi.png")
                img#panel_sakuragi_back(src="assets/img/panelists/p_sakuragi.png")
                //宮下
                img#panel_miyashita_front(src="assets/img/panelists/p_text_miyashita.png")
                img#panel_miyashita_back(src="assets/img/panelists/p_miyashita.png")



            ///////////////////  3D MODELS

            a-entity#panelbox1(panelbox, position="0 45 -3")
                a-animation(attribute="rotation", from="0 100 0", to="0 -260 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 20 0", scale="0.8 0.8 0.8", obj-model="obj: #panelbox-obj; mtl: #panelbox-mtl")

            a-entity#lantan(position="0.5 45 -3")
                a-animation(attribute="rotation", from="0 100 0", to="0 -260 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 20 0", scale="1.5 1.5 1.5", obj-model="obj: #lantan-obj; mtl: #lantan-mtl")

            //a-entity#amagi(position="0 45 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #amagi-obj; mtl: #amagi-mtl")
                a-image#shadow(src="#img_shadow", rotation="-90 0 0", scale="2.5 1.5 1.5")

            a-entity#earth(position="0 45 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #earth-obj; mtl: #earth-mtl")
                a-image#shadow(src="#img_shadow", rotation="-90 0 0", scale="2.5 1.5 1.5")

            a-entity#infobox(position="0 0 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #infobox-obj; mtl: #infobox-mtl")

            a-entity#house_small(position="0 45 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #small-obj; mtl: #small-mtl")
                    a-animation(attribute="rotation", from="0 0 0", to="10 0 0", dur="12000", easing="ease-in-out", repeat="indefinite", direction="alternate")
                a-image#shadow(src="#img_shadow", rotation="-90 0 0", scale="2.5 1.5 1.5")

            a-entity#house_large(position="0 0 -3")
                a-animation(attribute="rotation", from="0 330 0", to="0 -30 0", dur="80000", repeat="indefinite", easing="linear")
                a-collada-model(position="-.35 0 .55", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #large-obj; mtl: #small-mtl")

            /////////////////  Programs
            a-cylinder#nav_zone(position="0 0 0", radius="6", height="1.6", side="back", open-ended="true", color="#FFF",opacity="0.2")
                a-cylinder(position="0 0 0", radius="5.99", height="0.03", side="back", open-ended="true", color="#ef12a4",opacity="0.5")

                a-entity#programs
                    a-image#prog_honshoji0311(prog, type="prog", src="#img_prog_honshoji0311", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=0)
                    a-image#prog_kaido0311(prog, type="prog", src="#img_prog_kaido0311", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=1)
                    a-image#prog_kaido0411(prog, type="prog", src="#img_prog_kaido0411", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=2)
                    a-image#prog_kenkou0411(prog, type="prog", src="#img_prog_kenkou0411", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=3)
                    a-image#prog_kenkou0414(prog, type="prog", src="#img_prog_kenkou0414", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=4)
                    a-image#prog_matsumoto0311(prog, type="prog", src="#img_prog_matsumoto0311", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=6)
                    a-image#prog_matsumoto0411(prog, type="prog", src="#img_prog_matsumoto0411", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=7)
                    a-image#prog_unagi0410(prog, type="prog", src="#img_prog_unagi0410", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=8)
                    a-image#prog_yatai0311(prog, type="prog", src="#img_prog_yatai0311", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=9)
                    a-image#prog_yatai0411(prog, type="prog", src="#img_prog_yatai0411", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=10)
                    a-image#prog_yatai0420(prog, type="prog", src="#img_prog_yatai0420", width="5", height="13", scale="0.2 0.2 1", auto_rotate, n=11)

                a-entity#venues
                    a-image#venue_yataimura(venu, name="yataimura", type="venue", src="#img_venue_yataimura", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=0)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image#venue_honshoji(venu, name="honshoji", type="venue", src="#img_venue_honshoji", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=1)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image#venue_matsumoto(venu, name="matsumoto", type="venue", src="#img_venue_matsumoto", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=2)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image#venue_kaidocafe(venu, name="kaido", type="venue", src="#img_venue_kaidocafe", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=6)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image#venue_kenkou(venu, name="kenkou", type="venue", src="#img_venue_kenkou", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=7)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image#venue_kuromon(venu, name="kuromon", type="venue", src="#img_venue_kuromon", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=8)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image#venue_unagi(venu, name="unagi", type="venue", src="#img_venue_unagi", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=9)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                a-entity#topinfo
                    a-image#top_topinfo1(prog, type="topinfo", src="#topinfo1", y=2.3, width="4", height="6", scale="0.5 0.5 1", n=0)

            /////////////////  Panellers

            a-entity#panellers
                a-image#paneller_someonesgarden(name="someonesgarden", type="panel",  paneler, src="#panel_someonesgarden_front", width="4", height="8",position="0 0 3", scale="0.5 0.5 0.5", backsrc="#panel_someonesgarden_back", n=0)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_tokyo(name="tokyo", type="panel", paneler, src="#panel_tokyo_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_tokyo_back", n=1)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_hidaka(name="hidaka", type="panel", paneler, src="#panel_hidaka_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_hidaka_back", n=2)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_kan(name="kan", type="panel", paneler, src="#panel_kan_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_kan_back", n=3)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_okuma(name="okuma", type="panel", paneler, src="#panel_okuma_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_okuma_back", n=4)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_takeoka(name="takeoka", type="panel", paneler, src="#panel_takeoka_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_takeoka_back", n=5)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_fujioka(name="fujioka", type="panel", paneler, src="#panel_fujioka_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_fujioka_back", n=6)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_ota(name="ota", type="panel", paneler, src="#panel_ota_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_ota_back", n=7)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_matsui(name="matsui", type="panel", paneler, src="#panel_matsui_front", width="4", height="8", position="0 0 3", scale="0.5 0.5 0.5", backsrc="#panel_matsui_back", n=8)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_yonemoto(name="yonemoto", type="panel", paneler, src="#panel_yonemoto_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_yonemoto_back", n=9)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_uchiyama(name="uchiyama", type="panel", paneler, src="#panel_uchiyama_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_uchiyama_back", n=10)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_kawai(name="kawai", type="panel", paneler, src="#panel_kawai_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_kawai_back", n=11)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_nobuki(name="nobuki", type="panel", paneler, src="#panel_nobuki_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_nobuki_back", n=12)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_saitoh(name="saitoh", type="panel", paneler, src="#panel_saitoh_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_saitoh_back", n=13)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_nakamura(name="nakamura", type="panel", paneler, src="#panel_nakamura_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_nakamura_back", n=14)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_adachi(name="adachi", type="panel", paneler, src="#panel_adachi_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_adachi_back", n=15)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_miyashita(name="miyashita", type="panel", paneler, src="#panel_miyashita_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_miyashita_back", n=16)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image#paneller_sakuragi(name="sakuragi", type="panel", paneler, src="#panel_sakuragi_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_sakuragi_back", n=17)
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")



            //On CURVE MENU
            a-entity#cmenu
                a-curvedimage#about_program(curvemenu, type="venue", src="#img_program", radius="5.9",height="1.2", theta-length="14", n=0)
                a-curvedimage#about_toudansha(curvemenu, type="venue", src="#img_toudansha", radius="5.9",height="1.2", theta-length="14", n=1)
                a-curvedimage#about_venu(curvemenu, type="venue", src="#img_kaijo", radius="5.9",height="1.2", theta-length="14", angle="0",n=2)
                a-curvedimage#about_fes(curvemenu, type="venue", src="#img_aboutfes", radius="5.9", height="1.2", theta-length="14", position="0 0 0", n=6)
                a-curvedimage#about_fes_j(curvemenu, type="venue", src="#img_aboutfes_j", radius="5.9", height="1.2", theta-length="14", position="0 0 0", n=7)

            //a-curvedimage#logo_bug(curvemenu, type="misc", alink, src="#img_logo_bug", radius="5.7",height="0.5", theta-length="6", position="0 -0.3 0", href="http://bugdoc.tokyo/", angle="0",angle_to="235", def_angle="235")
            //a-curvedimage#logo_tokyodocs(curvemenu, type="misc", alink, src="#img_logo_tokyodocs", radius="5.7",height="0.5", theta-length="10", position="0 -0.3 0",href="http://tokyodocs.jp/", angle="0", angle_to="242", def_angle="242")
            //a-curvedimage#logo_sog(curvemenu, alink, type="misc", src="#img_logo_sog", radius="5.7",height="0.5", theta-length="10", position="0 -0.3 0",href="http://someonesgarden.org", angle="0", angle_to="252", def_angle="252")


            //////////////////   LIGHT & CAMERA & SKY
            a-light(type="directional", color="#fff", intensity="0.2", position="-1 2 1")
            a-light(type="ambient", color="#fff")
            a-sky(color="#ECECEC")
            a-circle(position="0 43 4",rotation="90 0 0", radius="30",color="#000000")

            a-entity(position="0 2 0.1")
                a-entity#camera(camera, look-controls, wasd-controls, mouse-cursor)
                    //Mobileの場合だけクリック用のカーソルをVR画面に表示させる
                    if mobile
                        a-entity#cursor(position=CURSOR_OUT, scale="1 1 1", geometry="primitive:ring;radiusOuter:0.20;radiusInner:0.13;", material="color:#ADD8E6;shader:flat", cursor="maxDistance:100; fuse:true;")
                            a-animation(begin="click", easing="ease-in", attribute="scale", fill="backwards", from="0.1 0.1 0.1", to="1 1 1", dur="150")
                            a-animation(begin="fusing", easing="ease-in", attribute="scale", fill="forwards", from="1 1 1", to="0.2 0.2 0.2", dur="1200")
                    else


    script(src="js/aframe/components/index.js")
    script(src="js/aframe/index_main.js")
    script.
        app.controller('VRController', ['$scope', '$http', '$window', function ($scope, $http, $window) {

            console.log("VRController");

        }]);