extends layout_i

block header
    link(rel="stylesheet", href="/css/mobile.css")

block content
    nav#myNavbar.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container
            div.navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbarCollapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#")
                    strong DOCU MEMENTO 2017

            div.collapse.navbar-collapse#navbarCollapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/i") トップ
                        li
                            a(href="/dev") VRモード
                        li
                            a(href="/v") ピッチ投票
                        //li
                        //    a(href="/s") 席状況
                        li
                            a(href="/admin") 管理者用


    div.container(style="margin-top:36px;")

        div.row(style="height:330px;background-image:url('assets/img/smt/top_img.png');background-size:contain;background-repeat:no-repeat;background-position:50% 50%;")

        div.row.text-center
            div.col.col-xs-12(style="padding-bottom:5px;")
                a(href="/dev")
                    img(src="assets/img/smt/mobile_banner1.png", width="100%", style="border:5px solid white;")

            div.col.col-xs-12(style="padding-bottom:5px;")
                a(href="/v")
                    img(src="assets/img/smt/mobile_banner2.png", width="100%", style="border:5px solid white;")
            //div.col.col-xs-12(style="padding-bottom:5px;")
            //    a(href="/s")
            //        img(src="assets/img/smt/mobile_banner3.png", width="100%", style="border:5px solid white;")
            //    br
        div.row.well-lg
            div.infoarea
                div.col-xs-6
                    h4
                        a(href="http://docu-memento.com/data/day1.jpg",target="_blank") 11月3日(DAY1)<br/>
                    a(href="http://docu-memento.com/data/day1.jpg",target="_blank")
                        img(src="http://docu-memento.com/data/day1.jpg",style="width:100%")
                div.col-xs-6
                    h4
                        a(href="http://docu-memento.com/data/day2.jpg",target="_blank") 11月4日(DAY2)<br/>
                    a(href="http://docu-memento.com/data/day2.jpg", target="_blank")
                        img(src="http://docu-memento.com/data/day2.jpg",style="width:100%")

                div.col-xs-12
                    h3    TIMETABLE  - 11/3(金)
                    br
                    h4  【本照寺】
                    p
                        strong 13:00～15:00 <br/>
                        a(href="/assets/site/prog_hourou.html") 『日本未公開の最先端ショート・ドキュ  5選』① <br/>
                        | 『With All Our Cameras』 <br/>
                        p.small
                            |   監督 ：Miguel Beraza <br/>
                            |   26分 /　スペイン・ハンガリー<br/>
                            |   ～ロッテルダム国際映画祭正式出品<br/>
                        strong 『Pulse』<br/>
                        p.small
                            |   監督： Robin Petré   <br/>
                            |   26分 / ハンガリー<br/>
                            |   ～DocLeipzig銀鳩賞 、DocLisboaグリーンイヤーズ賞<br/>
                        strong  16:30～19:30<br/>
                        a(href="/assets/site/prog_heishia.html") 河合宏樹監督『兵士A』 <br/>
                        span.small
                            |   (七尾旅人：主演、180分) <br/>
                            |   上映＆トーク<br/>
                    hr
                    h4 【レンタルスペース松本】
                    p
                        strong 10:00～12:00 <br/>
                        a(href="/assets/site/prog_jodou.html") 中国インディペンデント映画『えぐられた目玉』<br>
                        span.small  監督:徐童 <br/>


                    hr
                    h4  【KAIDO books & coffee】
                    p
                        strong 10:00～12:00　旅旅トーク<br>
                        a(href="/assets/site/nobuki.html") プロギャンブラのぶき<br>
                        | 中込孝規<br>
                        | 佐藤裕一 <br>
                        br
                        strong 12:30～14:00　登壇ライブ第一部<br>
                        | 竹岡寛俊<br/>
                        a(href="/assets/site/nishihara.html") 西原考至 <br>
                        a(href="/assets/site/prog_shinpuku.html") 新福剣士 <br>
                        br
                        strong 14:00～15:30　登壇ライブ第二部 <br>
                        a(href="/assets/site/hidaka.html") 日髙成樹<br>
                        | さいとうりょうじ<br>
                        | サムワンズガーデン <br>

                    hr
                    h4 【一龍 屋台村】
                    p.small ※チケット別（食べ放題付き3000円）
                    br
                    p
                        strong  16:00～17:30　<a href="/assets/site/prog_doglegs.html">『Dog Legs』(90分)上映</a><br>
                        |　ヒース・カズンス監督 <br/>
                        br
                        strong  17:30～18:00　北島行徳トーク<br>
                        |　『Dog Legs』出演者<br/>（障害者プロレス団体Dog Legs主催） <br/>
                        br
                        strong  18:00～18:30　交流タイム<br>
                        br
                        strong  18:30～20:00　登壇ライブ第三部 <br/>
                        | 米本直樹・儀間真利奈<br/>
                        a(href="/assets/site/sakuragi.html") 桜木奈央子<br>
                        a(href="/assets/site/nakamura.html") 中村真夕<br>
                        br
                        strong  20:00～20:30　交流タイム</strong><br>
                        br
                        strong  20:30～22:00　登壇ライブ第四部 <br>
                        a(href="/assets/site/kawai.html") 河合宏樹<br/>
                        a(href="/assets/site/nobuki.html") プロギャンブラのぶき<br/>
                        a(href="/assets/site/ota.html") 太田信吾<br>
                        br
                        strong  22:00～23:00　交流タイム<br>

                    hr
                    h4 【北品川一帯】
                    p
                        strong 10:00～15:00　<a href="/assets/site/prog_kodomo.html">こどもシネマ映像体験ワークショップ</a> <br/>
                        | こども取材班になってドキュメンタリーを探そう！』<br/>
                    p.small ※無料！先着10名：親同伴可。

                    hr

                br(clear="all")
                br(clear="all")

        div.row.well-lg
            div.infoarea
                div.col-xs-12
                    h3    TIMETABLE  - 11/4(土)
                    br
                    h4  【本照寺】
                    p
                        strong 12:00～14:00 <br/>
                        a(href="/assets/site/prog_hourou.html") 『日本未公開の最先端ショート・ドキュ  5選』② <br/>
                        br
                        strong 『Batrachian's Ballad』 <br/>
                        p.small
                            |   監督: Leonor Teles <br/>
                            |　　11分 / ポルトガル <br>
                            |　　～ベルリン国際映画祭金熊賞<br>
                        strong 『Women in Sink』<br/>
                        p.small
                            |　　監督:  Iris Zaki
                            |　　35分 / イスラエル<br>
                            |　　～カルロヴィ・ヴァリ国際映画祭審査員特別賞、英国グリアソン賞学生部門<br>
                        strong 『また次階！』 <br/>
                        p.small
                            |　　監督: 桑山篤 / 11分 / ポルトガル<br>
                            |　　～ポルトガル映画アカデミー・ソフィア賞学生部門、HotDocs正式出品<br>
                        br
                        strong 16:30～19:30　<br/>
                        strong
                            a(href="/assets/site/prog_tanaka.html") 20代前半の監督たちが鮮烈に描く”家族とコミュニティ” <br>
                        |　青柳拓監督『ひいくんのあるく町』(47分) <br>
                        |　加納土監督『沈没家族』(72分) <br>

                    hr
                    h4 【レンタルスペース松本】
                    p
                        strong 10:00～12:00　<br/>
                        a(href="/assets/site/sein.html")  Tokyo Docs Colors of Asia 上映＆アジア作家トーク <br>
                        p.small 　　インドネシア／ネパール／ミャンマー／インドより<br>
                        br
                        strong 14:30～16:30 <br/>
                        a(href="/assets/site/sein.html")  Tokyo Docs Colors of Asia 上映＆アジア作家トーク <br>
                        p.small 　　インドネシア／ネパール／ミャンマー／インドより
                    hr
                    h4 【KAIDO books & coffee】
                    p
                        strong 10:00～12:00　旅旅トーク <br/>
                        | リキシャーズ<br/>
                        | 平船智世子<br/>
                        | 田中義巳<br/>
                        br
                        strong 12:30～14:00　登壇ライブ第一部 <br/>
                        | 関強<br>
                        a(href="/assets/site/miyashita.html") 宮下千峰<br/>
                        a(href="/assets/site/okuma.html") 奥間勝也<br>
                        br
                        strong 14:30～16:00　登壇ライブ第二部 <br/>
                        a(href="/assets/site/adachi.html") 安達茉莉子<br/>
                        | 柳田香帆<br/>
                        a(href="/assets/site/satoc.html") SATO-C<br>
                    hr
                    h4 【一龍 屋台村】
                    p.small ※チケット別（食べ放題付き3000円）
                    p
                        strong 17:00～18:50　<br/>
                        | <a href="/assets/site/ota.html">太田信吾監督</a> <a href="/assets/site/prog_kaihouku.html">『解放区』(110分)上映</a><br>
                        br
                        strong 18:50～19:30　交流タイム<br>
                        br
                        strong 19:30～21:00　登壇ライブ第三部<br/>
                        a(href="/assets/site/wannan.html") わんなん<br/>
                        a(href="/assets/site/moca.html") モカ<br/>
                        | 浜野高宏<br>
                        br
                        strong 21:00～22:30　登壇ライブ第四部<br/>
                        | マッド・ベン<br/>
                        a(href="/assets/site/kawasaki.html") 河崎純真 <br/>
                        a(href="/assets/site/uchiyama.html") 内山直樹<br>
                        br
                        strong 22:30～23:00　交流タイム<br>
                    hr
                    h4 【品川健康センター 7F】
                    p.small ※チケット別（各1000円）
                    br
                    p
                        strong 10:00～11:30　
                        a(href="/assets/site/prog_dance.html")  『旅×ダンス』中込孝規ダンスワークショップ<br>
                        br
                        strong 14:00～15:30　<br/>
                        a(href="/assets/site/prog_maki.html") 『ヨガ×ドキュメンタリー』Makiのサークルヨガ体験<br>
                    hr
                    h4 【うなぎのねどこ】
                    p.small ※チケット（一人2800円/親子3200円、材料費込み）

                    p
                        strong 10:00～12:30　<br/>
                        a(href="/assets/site/prog_hakego.html")  はけご作りワークショップ第一部<br>
                        strong 14:00～16:30　<br/>
                        a(href="/assets/site/prog_hakego.html")  はけご作りワークショップ第二部<br>

                br(clear="all")
                br(clear="all")



        div.row.well-lg
            div.infoarea
                div.col-xs-12
                    h3 第一回<br/>ドキュ・メメント映画祭
                    h4 １１月３日〜４日 @品川宿
                    hr

                div.col-xs-12
                    p.text-danger チケット
                    p.small
                        | ※二日通し券はご用意しておりません。<br/>
                        | ※ワークショップは別料金です(フリーパスに含まれません)。<br/>
                        | ※当日各会場での現金払いのみとなります。直接会場にお越しください。<br/><br/>
                br
                div.col.col-xs-3.text-danger
                    p.small 昼の部
                div.col-xs-9
                    p.small
                        strong ２０００円/当日払い　 　 <br/>
                        | 上映＋登壇ライブ+旅旅トーク、出入り自由のチケット <br/>
                        a(href="http://documemento.peatix.com/view") Peatixから予約
                div.col.col-xs-3.text-danger
                    p.small 夜の部
                div.col-xs-9
                    p.small
                        strong ３０００円/当日払い <br/>
                        | 「一龍 屋台村」での上映＋登壇ライブのチケット(食べ放題付き/飲み物別)<br/>
                        a(href="http://documemento.peatix.com/view") Peatixから予約

                div.col-xs-12
                div.col.col-xs-3.text-danger
                    p.small フリーパス
                div.col-xs-9
                    p.small
                        strong ４０００円/当日払い<br/> 　
                        | 昼の部、夜の部(食べ放題付き/飲み物別)を両方楽しめるお得な一日パス<br/>
                        a(href="http://documemento.peatix.com/view") Peatixから予約

                div.col-xs-12
                div.col.col-xs-3.text-danger
                    p.small ダンス/ヨガ ワークショップ
                div.col-xs-9
                    p.small
                        strong 各１０００円/当日払い<br/>
                        a(href="http://documementows.peatix.com/") Peatixから予約

                div.col-xs-12
                div.col.col-xs-3.text-danger
                    p.small はけご作りワークショップ
                br
                div.col-xs-9
                    p.small
                        strong 一人２８００円/親子３２００円<br/>
                        | 当日払い<br/>
                        a(href="http://documementows.peatix.com/") Peatixから予約

                div.col-xs-12
                    hr



                div.col.col-xs-3.text-danger
                    p 会  場
                div.col-xs-9
                    p <strong>北品川一帯</strong> <br/>（KAIDO book&coffee / 一龍屋台村 / 本照寺 / うなぎのねどこ / レンタルスペース松本 / 品川健康センター他)

                div.col.col-xs-3.text-danger
                    p 目  的
                div.col-xs-9
                    p <strong>ドキュメンタリー文化の形成/<br/>地域振興</strong>
                div.col.col-xs-3.text-danger
                    p 主  催
                div.col-xs-9
                    p ドキュ・メメント実行委員会

                div.col.col-xs-3.text-danger
                    p 協  賛
                div.col-xs-9
                    p Tokyo Docs / 株式会社テムジン
                div.col.col-xs-3.text-danger
                    p 協  力
                div.col-xs-9
                    p 旧東海道品川宿周辺まちづくり協議会 / なぎさの会 / DD Center / SOMEONE'S GARDEN
                div.col.col-xs-3.text-danger
                    p 後  援
                div.col-xs-9
                    p 品川区 / 一般社団法人しながわ観光協会
                div.col.col-xs-3.text-danger
                    p 連絡先
                div.col-xs-9
                    p <a href="mailto:bug.document@gmail.com">mailto:bug.document@gmail.com</a>
                br(clear="all")