doctype html
html
  head
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title= title

    script.
      window.WebVRConfig = {
        BUFFER_SCALE: 1,
      CARDBOARD_UI_DISABLED: true,
      ROTATE_INSTRUCTIONS_DISABLED: true,
      TOUCH_PANNER_DISABLED: true,
      MOUSE_KEYBOARD_CONTROLS_DISABLED: true
      };

    //socketIO
    script(src="/socket.io/socket.io.js")
    script(src="/js/socketio/client.js")

    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/d3/d3.js")
    script(src="/vendor/aframe/dist/aframe-master.js")
    script(src="/vendor/aframe-html-shader/dist/aframe-html-shader.min.js")
    script(src="/vendor/html2canvas/build/html2canvas.min.js")
    script(src="/js/aframe-mouse-cursor-component.min.js")
    script(src="/vendor/tween.ts/build/tween.min.js")
    script(src="https://rawgit.com/protyze/aframe-curve-component/master/dist/aframe-curve-component.min.js")
    script(src="https://rawgit.com/protyze/aframe-alongpath-component/master/dist/aframe-alongpath-component.min.js")
    script(src="https://unpkg.com/react@15/dist/react.min.js")
    script(src="https://unpkg.com/react-dom@15/dist/react-dom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js")



    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Righteous|Amatic+SC|Open+Sans+Condensed:700|Oswald:700|Poppins:500|Ubuntu:500")
    link(rel="stylesheet", href="/css/style.css")

    block header

  body
    block content


