body {
    margin: 0;
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;

    font-family: 'Mplus 1p' !important;
}

.infoarea {
    background-color: rgba(255, 255, 255, 0.8);
    color: #555555;
    padding: 12px;
}



/* Vote _list */
#vote_list .panel_area{
    border:3px solid white;
    position:relative;
    margin-bottom:5px;
}

#vote_list .panel_item{
    margin-bottom:12px;
}

#vote_list .panel_buttons{
    position:absolute;bottom:10px;right:0px;
}

#vote_list .vote_sep{
    height:8px;
}


#vote_list .panel_img{
    width:100%;
    width:auto;
    max-height:150px;
}

/* Seat_List */

#seat_list h1{
    padding:2px 0px 2px 0px;margin:0;font-size:18px;font-weight:bold;
}


#seat_list h2{
    font-size:18px;
    padding:0;
}

#seat_list h3{
    font-size:16px;
    font-weight:bold;
    padding:0;
}

#seat_list h4{
    font-size:20px;
    padding:0;
    padding-bottom:8px;
    margin:0;

}

#seat_list .panel_area{
    border:3px solid white;
    position:relative;
    margin-bottom:5px;
    background:rgba(255,255,255,0.3);
}

.panel_area .date_area{
    background-color:#fff;color:#222;padding:0;
}


#seat_list .panel_item{
    margin-bottom:12px;
}

#seat_list .panel_buttons{
    position:absolute;bottom:10px;right:0px;
}

#seat_list .vote_sep{
    height:8px;
}


#seat_list .panel_img{
    padding-top:10px;
    width:100%;
    height:auto;
    border-bottom:10px solid white;
}



.panel_buttons .vote_button{
    font-weight:bold; border-bottom:2px solid black;margin:1px; padding:1px;
    cursor: pointer;
    user-select: none;
}

.panel_buttons .vote_num{
    background-color:white;font-weight:bold; margin:1px; padding:1px;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}



.nr{
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}
