* {
  margin: 0;
  padding: 0;
}

body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; background-color: white;}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #222224;
  color: #fff;
}

#loader>p {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  width: 100%;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

#loader.hidden {
  display: none;
}

.target {
  position: absolute;
  width: 320px;
  height: 180px;
  font-size: 100%;
  background-color: #FFF;
  display: hidden;
  /*z-index: 1;*/
}

.target>img {
  float: left;
  display: block;
  width: 40%;
  padding: 4% 0 4% 4%;
}

.target>div {
  margin-left: 36%;
  width: 52%;
  padding: 4%;
}

.target>.detail {
  padding: 3% 0;
  text-align: center;
  width: 92%;
  color: #fff;
  background-color: rgba(1, 1, 1, 0.6);
  margin: 4%;
}

#target2 {
  width: 640px;
  height: 400px;
  font-size: 200%;
}

#target3 {
  width: 960px;
  height: 600px;
  font-size: 300%;
}

#target4 {
  width: 1280px;
  height: 800px;
  font-size: 400%;
}

#target5 {
  width: 1600px;
  height: 1000px;
  font-size: 500%;
}

#target6 {
  width: 3200px;
  height: 2000px;
  font-size: 1000%;
}

p.titlelogo{
  font-family: 'Work Sans', sans-serif;
  font-size:2em;
  color:white;
  font-weight:bold;
  padding:10px;
}

img.titleheader{
  height:100%;
  padding:3px;
}

.topnav{
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  position:absolute;
  height:60px;
  width:100%;
  top:0px;
  background-color:rgba(40,10,20,0.7);
  z-index:100;
}

.nr{
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
}